<%= form_with(model: itinerary, local: true) do |form| %>
  <% if itinerary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(itinerary.errors.count, "error") %> prohibited this itinerary from being saved:</h2>

      <ul>
        <% itinerary.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :subtotal %>
    <%= form.number_field :subtotal %>
  </div>

  <div class="field">
    <%= form.label :discount %>
    <%= form.number_field :discount %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.number_field :total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
